[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osmnx = "*"
matplotlib = "*"
folium = "*"
pvlib = "*"
scikit-learn = "*"
geopandas = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
